/*-- scss:defaults --*/

// Custom colours and variables
$jet: #131516; 
$char: #4B4B4B;
$tan:#C9B8A3;
$manoa: #024731;
$red: #B85450;
$yellow: #D9A441;
$blue: #005F86;

$right-arrow: "\2192"; // Unicode character for right arrow

// fonts

/*
Note: This theme uses the Roboto font family, which it imports from Google Fonts to ensure consistent weighting in addition to availability. While you can use a local installation of Roboto, this is generally not recommended since the weighting will likely be wrong (probably too light). OTOH, importing from Google Fonts can cause some issues in certain secure environments due the external CDN (see: https://github.com/grantmcdermott/quarto-revealjs-clean/issues/7). If that's the case for you, simply comment out the `@import url(...)` line below and it will default for the default Sans Serif font on your system (e.g., Helvetica on a Mac). Circling back to the earlier point about preserving consistent font weights, you may also wish to remove "Roboto" from the choice set if the family is installed locally.
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i&display=swap');

$font-family-sans-serif: "Roboto", sans-serif !default;
$presentation-heading-font: "Roboto", sans-serif !default;

$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: lighter;
//$presentation-heading-line-height: 2;
//$presentation-block-margin: 28px;
$presentation-font-size-root: 32px;

// colors
//$body-bg: #f0f1eb !default;
$body-color: $jet !default;
$selection-bg: $red !default;
$code-color: $manoa !default;
$link-color: $blue !default;

/*-- scss:rules --*/

// Define colors
$link-color-light-bg: $blue;   // Default link color (for light backgrounds)
$link-color-dark-bg: $tan;  // Link color when inside .inverse (dark background)
$link-hover-light: darken($manoa, 10%);
$link-hover-dark: lighten($tan, 20%);
$link-color: $char !default;

.reveal a {
  color: var(--link-color, $link-color-light-bg);
  transition: color 0.3s ease;
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color, $link-hover-light);
  }
}

// When inside .inverse (dark background)
/*.inverse a {
  --link-color: #{$link-color-dark-bg};
  --link-hover-color: #{$link-hover-dark};
}
*/

// Force link color change when inside .inverse
.inverse a {
  color: $link-color-dark-bg !important;  // Override any default color
}

.inverse a:hover {
  color: $link-hover-dark !important;  // Ensure hover color applies
}

/*
.reveal a {
  line-height: 1.5em;
}
*/

.reveal p {
  // font-weight: 300;
  font-weight: lighter;
  margin-top: 1.25em;
}

// title and headings

#title-slide {
  text-align: left;

  .title {
    color: $body-color;
    font-size: 1.4em;
    // font-weight: 350;
    font-weight: lighter;
  }

  .subtitle {
    color: $manoa;
    font-style: italic;
    margin-top: 0em;
    font-weight: lighter;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    // color: #7F7F7F;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
    font-weight: lighter;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

}

.reveal h2 {
  // font-weight: 350;
  font-weight: lighter;
  font-size: 1.4em;
}

.reveal h3 {
  color: $manoa;
  font-style: italic;
  // font-weight: 350;
  font-weight: lighter;
  font-size: 0.95em;
}

.reveal h4 {
  color: $tan;
  font-weight: normal;
  margin-top: 1.25em;
}

// alerts etc.

.alert {
  color:  $red;
  font-weight: bold;
}

.highlight {
  background-color: $yellow;
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
  color: #fff; 
}

.fg {
  color: var(--col, $char);
}

.bg {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

// Background color changes to manoa when inverse
.inverse {
  background: $manoa !important;
  z-index: 100 !important;
}

// lists

// Unordered lists

.reveal ul {
  // font-weight: 300;
  font-weight: lighter;
  padding-left: 16px;

  li::marker {
    color: mix($red, white, 70%);
  }
}

.reveal ul ul {
  list-style: none;

  li:before {
    content: $right-arrow;
    color: mix($manoa, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

// Ordered lists

.reveal ol {
  // font-weight: 300;
  font-weight: lighter;
  padding-left: 16px;

  li::marker {
    color: $red;
  }
}

// Logo options
.reveal .slide-logo {
  height: auto;
  min-height: 50px;
  //width: 250px !important;
  // max-width:  !important;
  max-height: 200px;
  z-index: -1 !important;
  padding-bottom: 5px;
  padding-right: 5px;
 // left: 30px;
 // bottom: 30px;
}

.reveal .slide-menu-button > * {
  pointer-events: auto;
}

// Same for chalkboard buttons (with an offset)

.reveal .slide-chalkboard-buttons {
  position: fixed;
  top: 12px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-chalkboard-buttons > * {
  pointer-events: auto;
}

// Beamer-style button link environment

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $yellow;
  border: 1px solid $yellow;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
 // background-color: $manoa;
  border-color: $char;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// tables

.reveal table {
  // height: auto; /* Adjust table width to fit content up to the available slide space */
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}

.reveal table th,
.reveal table td {
  border: none; /* Remove internal row lines */
  padding: .23em; /* Adjust padding as needed */
  text-align: left; /* Adjust text alignment as needed */
  font-weight: lighter; /* Lighter font weight for main table text */
}

/* Adds a bottom border to the table header row for distinction */
.reveal table thead th,
.reveal .slides table tr:last-child td,
.reveal .slides table {
  border-bottom: 2px solid $manoa; /* Dark grey color for the bottom border */
}

/* Make column headers bold */
.reveal table thead th {
  font-weight: bold;
}

/* Styling table captions */
.reveal table caption {
  color: #666666; /* Dark grey color for the caption */
  font-variant: small-caps; /* Use small caps for the caption text */
}

// Special catch for etable environment to ensure these table images
// don't overflow the slide.
// See: https://lrberge.github.io/fixest/articles/etable_new_features.html

.etable {
  width: 100%;
  height: calc(100% - 3em); /* Adjust 3em based on the height of your header, if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

.etable img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* Default color for light backgrounds */
.slide-menu-button svg {
  fill: $manoa !important;
  color: $tan;
}

.reveal .slide-menu-button .fa-bars::before {
  background-image:  !important;
 }

.progress span {
  background-color: $manoa !important;
}

/* Change progress bar color to white in inverse mode */
.reveal.has-dark-background .progress span {
  background-color: white !important;
}

/* Move slide number to the lower-left corner */
.reveal .slide-number {
  left: 10px !important;
  right: auto !important; /* Prevents default right positioning */
  bottom: 10px !important;
}

/* Move slide number to the lower-left corner */
.reveal .slide-number {
  left: 10px !important;
  right: auto !important; /* Prevent default right positioning */
  bottom: 10px !important;
  top: auto !important;  /* Ensure it's not in the upper left */
}